<header class="site-header">
    <div class="container nav">
        <a href="/" class="logo">TemplateSite</a>

        <nav>
            <ul class="nav-links">
                <li><a class="<%= pageName === 'Home' ? 'active' : '' %>" href="/">Home</a></li>
                <li><a class="<%= pageName === 'Page 2' ? 'active' : '' %>" href="/page2">Page 2</a></li>
                <li><a class="<%= pageName === 'Page 3' ? 'active' : '' %>" href="/page3">Page 3</a></li>
                <li><a class="<%= pageName === 'Page 4' ? 'active' : '' %>" href="/page4">Page 4</a></li>
                <li><a class="<%= pageName === 'Page 5' ? 'active' : '' %>" href="/page5">Page 5</a></li>
            </ul>
        </nav>
    </div>
</header>